body {
    margin: 0;
    background: #F4F4F4;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

#main {
    background: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

#input-box {
    width: 117px;
    height: 83px;
    border-radius: 5px;
    background: #6943FF;
    border: 2px solid #B295ff;
    text-align: center;
    font-size: 58px;
    color: white;
    
    
}

#convert-button {
    width: 117px;
    height: 42px;
      margin-top: 20px;
      margin-bottom: 20px;
      background: #FFFFFF;
      border-radius: 5px;
      border: none;
            text-shadow: 5% 5% #000000;
      

}

#length-container, #volume-container, #mass-container {
    width: 500px;
    height: 108.57px;
    background: #FFFFFF;
   display: flex;
   flex-direction: column;
   margin: 20px 30px;
   align-items: center;
}

h2 {
    color: white;
}


h1 {
    color: #5A537B;
    font-size: 20px;
    line-height:  20px;
    letter-spacing: 0%;
}
p {
    font-size: 14px;
    line-height: 20px;
    align-items: center;
}